#ui-datepicker-div .ui-datepicker-calendar td.date-range-selected {
  background: transparent;
  border: 1px solid #0673dd;
}
.ui-datepicker-calendar td.date-range-selected {
  background-color: green;
}
.ui-datepicker-inline .ui-datepicker-calendar td.date-range-selected {
  background: transparent;
  border: 1px solid #0673dd;
}
button.drf-datepicker-trigger {
  border:none;
  background: url('calendar.gif') no-repeat 0 0;
  padding:10px;
  cursor:pointer;
}